@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /* IMPORTANDO A FONTE */

/* CSS RESET E DEFINIÇÃO DE PADRÕES PARA O BODY */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #ffd9d9;
  font-family: "Montserrat", sans-serif;
}

/* CABEÇALHO COM LINKS */

header {
  background-color: #a91d3a;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  padding: 3rem 10rem;
}

.cabecalho_logo .logo {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
  font-size: 2.5rem;
}

.cabecalho_menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cabecalho_menu_link {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
  font-size: 1.8rem;
}

.cabecalho_menu_link:hover {
  color: #ffd9d9;
  transition: color 0.3s;
  transform: scale(1.1);
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media screen and (max-width: 1100px) {
  .cabecalho {
    padding: 1.5rem 5rem;
  }

  .cabecalho_logo .logo {
    font-size: 1.5rem;
  }

  .cabecalho_menu,
  .cabecalho_menu_link {
    gap: 0.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .cabecalho_logo .logo {
    font-weight: 500;
    font-size: 1rem;
  }

  .cabecalho_menu,
  .cabecalho_menu_link {
    gap: 0.5rem;
    font-size: 0.6rem;
  }
}

/* CONTEÚDO DA PÁGINA */

main {
  margin: 5rem;
}

/* INDEX.HTML */

main .apresentacao {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.apresentacao_imagem {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  margin-left: 5rem;
}

.apresentacao_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 2.5rem;
}

.apresentacao_conteudo_titulo {
  color: #c73659;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.apresentacao_conteudo_texto {
  color: #151515;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
  padding: 0 6rem;
  line-height: 1.4;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media screen and (max-width: 900px) {
  main .apresentacao {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .apresentacao_imagem {
    max-width: 270px;
    margin: auto;
  }

  .apresentacao_conteudo_titulo {
    font-size: 1.5rem;
  }

  .apresentacao_conteudo_texto {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }
}

/* FORMACAO.HTML */

.formacao_conteudo {
  display: flex;
  gap: 1rem;
}

.formacao_titulo {
  color: #c73659;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
}

.formacao_conteudo_texto {
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 2rem;
  box-sizing: border-box;
  max-width: 1200px;
  text-align: justify;
  flex: 1;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media screen and (max-width: 900px) {
  .formacao_conteudo {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .formacao_titulo {
    font-size: 1.5rem;
  }

  .formacao_conteudo_texto {
    text-align: left;
    font-size: 1rem;
    padding: 1rem;
  }
}

/* PROJETOS.HTML */

.projetos_titulo {
  color: #c73659;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: center;
}

.projetos_conteudo {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.projeto {
  color: #151515;
  background-color: #fff7f7;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

h3 {
  margin-bottom: 0.8rem;
}

.projeto_link {
  text-decoration: none;
  color: #c73659;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media screen and (max-width: 900px) {
  .projetos_conteudo {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .projetos_titulo {
    font-size: 1.5rem;
  }

  .projeto {
    font-size: 1rem;
  }
}

/* CONTATO.HTML */

.formulario_titulo {
  color: #c73659;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  text-align: center;
}

.formulario_conteudo {
  margin: auto;
  width: 30rem;
  padding: 2rem;
  background-color: #fff7f7;
  border-radius: 10px;
}

.label {
  font-size: 1.5rem;
}

#input_text {
  width: 95%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border: none;
  outline-color: #ffb7c8;
  border-radius: 5px;
  background-color: #ffd9d9;
  color: #3f3939;
  font-size: 1.2rem;
  cursor: pointer;
}

#textarea_mensagem {
  width: 95%;
  padding: 0.5rem;
  margin-top: 1rem;

  border: none;
  outline-color: #ffb7c8;
  border-radius: 5px;
  background-color: #ffd9d9;
  color: #3f3939;
  font-size: 1.2rem;
  cursor: pointer;
}

#formulario_botao {
  width: 98%;
  padding: 0.5rem;
  margin-top: 2rem;

  border: none;
  border-radius: 5px;
  background-color: #c73659;
  color: #fff7f7;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE  */

@media screen and (max-width: 900px) {
  .formulario_conteudo {
    margin: auto;
    width: 10rem;
    padding: 2rem;
  }

  .formulario_titulo {
    font-size: 1.5rem;
  }

  .label, #input_text {
    text-align: left;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}